.todo.done{
    background-color: aqua;
}

.todo{
    position: relative;
    background-color: blanchedalmond;
    color: #555;
    border: 1px solid #bbb;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;
    height: 40px;
    font-size: 20px;
}

.task-list{
    margin-bottom: 20px;
}

.textItem{
    position: absolute;
}
.todo .delete-btn{
    position: absolute;
    margin: 5px 0;
    right: 0;
    top: 0;
    float:right;
    z-index: 1;
    margin-top: 8px;
}


