.todo.done{
    background-color: aqua;
}

.todo{
    position: relative;
    background-color: blanchedalmond;
    color: #555;
    border: 1px solid #bbb;
    cursor: pointer;
    padding: 2px 2px;
    margin: 5px 0;
    height: 40px;
    width: 100%;
    font-size: 20px;
}



.todo .delete-btn{
    position: absolute;
    margin: 5px 0;
    right: 0;
    top: 0;
    float:right;
    z-index: 1;
    margin-top: 8px;
}


