body {
    padding: 10px;
}

.tabset-element {
    border: 2px solid #bbb;
    border: 1px solid #707070;
    border-bottom: 1px solid #fff;
}

.tabset-heading {
    display: inline-block; /* выстраиваем вкладки в один ряд */
    padding: 5px 5px;
    cursor: pointer;
    position: relative;
    z-index:5;
}
.tabset-body {
    display: none;
    width: 300px;
    height: 60px;
    border: 1px solid #707070;
    position: relative;
    top: -1px; 
    z-index:1;
    padding: 10px;
    border-radius: 0 0 3px 3px
}

.tabset-element.open .tabset-body {
    display: block;
    
}




